
.app {
  background: radial-gradient(#000, #000, #001f4d); 
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.next-btn {
  margin: 20px 0 0;
  background: linear-gradient(to bottom, #003366, #0055b3);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;

  &:hover {
    background: linear-gradient(to bottom, #001f4d, #003366); 
  }
}